body {
  background-color: #f5f6fa;
}

.card-hover {
  transition: transform 0.15s ease-out;
}

.card-hover:hover {
  transform: scale(1.02);
  transition: transform 0.15s ease-in;
  cursor: pointer;
}

.card-link {
  color: inherit; /* Keeps the original text color */
  text-decoration: none; /* Removes underline */
}

.card-link:hover {
  color: inherit; /* Keeps the original text color */
  text-decoration: none; /* Removes underline */
}

.logo_text_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container img {
  margin-right: 30px; /* Adjust this value to set the desired space */
}
