body {
  background-color: #f5f6fa;
}

.card-hover {
  transition: transform 0.15s ease-out;
}

.card-hover:hover {
  transform: scale(1.02);
  transition: transform 0.15s ease-in;
  cursor: pointer;
}

a {
  color: inherit; /* Keeps the original text color */
  text-decoration: none; /* Removes underline */
}
