body {
  background-color: #f5f6fa;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  margin-right: 20px;
}

.navbar-nav .nav-item.active .nav-link {
  color: darkcyan;
}

.card-hover {
  transition: transform 0.15s ease-out;
}

.card-hover:hover {
  transform: scale(1.03);
  transition: transform 0.15s ease-in;
  cursor: pointer;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  color: inherit;
  text-decoration: none;
}

.logo_text_style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container img {
  margin-right: 30px;
}

.aspect_ratio {
  max-width: 800px;
}
