{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<form action="submit_contact_form.php" method="post">
	<h2>Send us a message</h2>
	<label for="name">Name:</label><br>
	<input type="text" id="name" name="name" required><br><br>
	<label for="email">Email:</label><br>
	<input type="email" id="email" name="email" required><br><br>
	<label for="message">Message:</label><br>
	<textarea id="message" name="message" rows="4" required></textarea><br><br>
	<input type="submit" value="Submit">
</form>
{% endblock body %}