{% extends 'base.html' %}

{% block title %}Image to Text{% endblock title %}

{% block body %}
<div class="container mt-5">
	<h1 class="text-center">Image to Text Converter</h1>
	<p class="text-center">Use our OCR tool to convert your image in plain text!</p>
	<form action="/convert" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="imageUpload" class="form-label">Upload Image:</label>
			<input type="file" class="form-control" id="imageUpload" name="image" style="height: 150px;">
		</div>
		<button type="submit" class="btn btn-primary">Convert to Text</button>
	</form>
</div>
{% endblock body %}