{% extends 'base.html' %}

{% block title %}Tools{% endblock title %}

{% block body %}
<div class="container-fluid mt-4 ml-4 text-left">
	<h1>Find here the right tool <br> for all your documents need!</h1>
</div>

<div class="container-fluid">
	<div class="row p-4">
		<div class="col-3 mb-4">
			<a href="{{ url_for('image_to_text') }}" class="card-link">
				<div class="card p-3 shadow card-hover">
					<div class="position-relative" style="height: 50px;">
						<img class="position-absolute top-0 start-0 m-2"
							src="{{ url_for('static', filename='images/fm_logo.png') }}" alt="Card image cap"
							style="width: 45px; height: 45px;">
					</div>
					<div class="card-body mt-4">
						<h5 class="card-title">Image to Text</h5>
						<p class="card-text">Upload your image and convert it to plain text using our OCR solution.</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3 mb-4">
			<a href="{{ url_for('speech_to_text') }}" class="card-link">
				<div class="card p-3 shadow card-hover">
					<div class="position-relative" style="height: 50px;">
						<img class="position-absolute top-0 start-0 m-2"
							src="{{ url_for('static', filename='images/fm_logo.png') }}" alt="Card image cap"
							style="width: 45px; height: 45px;">
					</div>
					<div class="card-body mt-4">
						<h5 class="card-title">Speech to Text</h5>
						<p class="card-text">Upload your audio content and convert it to plain text using our AI
							solution.</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock body %}