{% extends 'base.html' %}

{% block title %}Tools{% endblock title %}

{% block body %}

<body>
	<div class="container-fluid">
		<div class="row justify-content-between p-4">
			<div class="col-3">
				<a href="{{ url_for('image_to_text') }}">
					<div class="card h-100 p-3 shadow card-hover">
						<img class="card-img-top" src="{{ url_for('static', filename='images/img_to_text.jpg') }}"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-3">
				<div class="card h-100 p-3 shadow card-hover">
					<img class="card-img-top" src="{{ url_for('static', filename='images/fm_logo.png') }}"
						alt="Card image cap" style="width: 30px; height: 30px;">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional
							content.</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card h-100 p-3 shadow card-hover">
					<img class="card-img-top" src="{{ url_for('static', filename='images/audio_to_text.png') }}"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional
							content.</p>
					</div>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	</div>
	{% endblock body %}