{% extends 'base.html' %}

{% block title %}Tools{% endblock title %}

{% block body %}
<div class="container-fluid mt-4 ml-4 text-left">
	<h1>Find here the right tool <br> for all your documents need!</h1>
</div>
<div class="container-fluid">
	<div class="row p-4">
		<div class="col-3 mb-4">
			<a href="{{ url_for('image_to_text') }}" class="card-link">
				<div class="card h-100 p-3 shadow card-hover">
					<img class="card-img-top" src="{{ url_for('static', filename='images/img_to_text.jpg') }}"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Image to Text</h5>
						<p class="card-text">Upload your image and convert it in plain text using our OCR solution.</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
</div>
{% endblock body %}